@import url(./gruvbox.css);

:root {
  /* LIGHT THEME */
  --hf-bg-color: var(--gb-light0);
  --body-color: var(--gb-dark0);
  --body-bg-color: var(--gb-light0_hard);
  --copyright-bg-color: var(--gb-light1);

  /* DARK THEME */
  --hf-bg-color-dark: var(--gb-dark0);
  --body-color-dark: var(--gb-light0);
  --body-bg-color-dark: var(--gb-dark0_hard);
  --copyright-bg-color-dark: var(--gb-dark1);
}

body.dark-mode{
  background-color: var(--body-bg-color-dark);
}

/* HEADER & FOOTER */
header, header a, a.nav-link,
footer, footer a {
  background-color: var(--hf-bg-color);
  color: var(--body-color);
  text-decoration: none;
}
footer #copyright,
footer #copyright a {
  background-color: var(--copyright-bg-color);
}
body.dark-mode header,
body.dark-mode header a,
body.dark-mode a.nav-link,
body.dark-mode nav button,
body.dark-mode footer,
body.dark-mode footer a {
  background-color: var(--hf-bg-color-dark);
  color: var(--body-color-dark);
  text-decoration: none;
}
body.dark-mode footer #copyright,
body.dark-mode footer #copyright a {
  background-color: var(--copyright-bg-color-dark);
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
}

#theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
