@import url(./gruvbox.css);

:root {
  /* LIGHT THEME */
  --hf-bg-color: var(--gb-light0);
  --body-color: var(--gb-dark0);
  --body-bg-color: var(--gb-light0_hard);

  /* DARK THEME */
  --hf-bg-color-dark: var(--gb-dark0);
  --body-color-dark: var(--gb-light0);
  --body-bg-color-dark: var(--gb-dark0_hard);
}

body.dark-mode{
  background-color: var(--body-bg-color-dark);
}

/* HEADER & FOOTER */
header, header a, a.nav-link,
footer, footer a, table.table thead {
  background-color: var(--hf-bg-color);
  color: var(--body-color);
  text-decoration: none;
}
body.dark-mode header,
body.dark-mode header a,
body.dark-mode a.nav-link,
body.dark-mode nav button,
body.dark-mode footer,
body.dark-mode footer a,
body.dark-mode table.table thead,
body.dark-mode .card {
  background-color: var(--hf-bg-color-dark);
  color: var(--body-color-dark);
  text-decoration: none;
}
body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
}

#theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.card {
	width: 70vw;
	height: width;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
