@import url(./gruvbox.css);

:root {
  --hf-bg-color: var(--gb-light0);
  --hf-color: var(--gb-dark0);
  --copyright-bg-color: var(--gb-light1);
  --copyright-color: var(--gb-dark0);
}

header, header a {
  background-color: var(--hf-bg-color);
  color: var(--hf-color);
  text-decoration: none;
}

a.nav-link, nav button {
  color: var(--gb-dark0);
}

#theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

body.dark-mode {
  background-color: var(--gb-dark0);
  color: var(--gb-light0);
}

footer {
  background-color: var(--hf-bg-color);
}

footer #copyright {
  background-color: var(--copyrightcolor);
}