{% extends 'base.html' %}

{% load static %}

{% block title %}{{ json_data.name }}{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ json_data.name }}</h2>
    <form id="providerForm" method="post" action="{% url 'agency' %}">
        {% csrf_token %}
        <input type="hidden" name="url" value="{{ json_data.launch_service_provider.url }}">
        <a href="#" onclick="document.getElementById('providerForm').submit();">{{ json_data.launch_service_provider.name }}</a>
      </form>
</div>
{% endblock %}
